[Desktop Entry]
Version=1.1
Type=Application
Name=NetBeans
Comment=A small descriptive blurb about this application.
Icon=/home/alessandra/Pictures/888px-Apache_NetBeans_Logo.svg.png
Exec=/snap/bin/netbeans
Path=/home/alessandra/Documents/Netbeans
Actions=
Categories=Development;X-XFCE;X-Xfce-Toplevel;
