[Desktop Entry]
Name=Spring Tool Suite
Comment=Spring Tool Suite 4.14.0
Exec=/opt/sts-4.14.0.RELEASE/SpringToolSuite4
Icon=/opt/sts-4.14.0.RELEASE/icon.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;IDE;Java;
